body {
    // background: url("../images/c6bank/hero-bg-xs.webp") no-repeat;
    // background-size: contain;
    width: 100%;
    // height: calc(100vh - 100px - 100px);
    display: flex;
    & > header {
        position: fixed;
        top:0;
        z-index: 100;
        height: 100px;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition-duration: 0.5s;
        & > nav {
            width: 70%;
             > ul {
                margin: 0;
                display: flex;
                > li {
                    list-style: none;
                    margin-right: 20px;
                    > a {
                        text-decoration: none;
                        color: #222;
                        font-weight: bold;
                    }
                }
             }
        }
        button {
            width: 290px;
            height: 40px;
            border:none;
            text-transform: uppercase;
            color: #333;
            background: #FFE45C;
            font-size: 0.8em;
            border-radius: 20px;
        }
    }
}
.jss4 .jss6 {
    fill: hsla(0, 0%, 14%, 1);
}
.jss12 {
    width: auto;
    height: 24px;
}

/*@media ...*/