.full-banner-form {
    background: #e4e4e4;
    width:100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;
    .container-login {
        width: 420px;
        height: 40vh;
        display:flex;
        .form-login {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            label {
                width: 70%;
                display: flex;
                flex-direction: column;
                input {
                    width: 100%;
                }
            }
            p { margin:0;
                a {
                    color: #222;
                    text-decoration: none;
                }
            }
        }
    }
}